body {
    background-image: url(img/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-transform: uppercase;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-area {
    height: 70vh;
    width: 60%;
    background-color: #E8E8E8;
    position: absolute;
    border-radius: 10px;
    box-shadow: ;
}